
@{
    ViewBag.Title = "main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <center>
        <h1><b>Pubudu Education Centre</b></h1>
        <h2>Employee Management</h2>
    </center>
</div>

<style>
    * {
        box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
        margin-bottom: 3px;
        margin-left: 3px;
        opacity: 1;
        transition: 0.3s;
    }

        .column:hover {
            opacity: 0.6;
        }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

    <div class="row">

        <a href="@Url.Action("EmployeeView", "Employee")">
            <div class="column" style="background-color:#8395a7; text-align: center">
                <h3 style="margin-left: auto">View Employee List</h3><br />
                <img src="~/img/employeelist.png" style="display: block; height: 150px; width: 150px; margin: auto auto auto auto" />
            </div></a>
        <a href="@Url.Action("Create", "Employee")">
            <div class="column" style="background-color:#8395a7; text-align: center">
                <h3 style="margin-left: auto">Add new Employee</h3><br />
                <img src="~/img/addEmployee.png" style="display: block; height: 150px; width: 150px; margin: auto auto auto auto" />
            </div>
        </a>
        <a href="@Url.Action("Create", "EmployeeAttendance")">
            <div class="column" style="background-color:#8395a7; text-align: center">
                <h3 style="margin-left: auto">Mark Employee Attendence</h3><br />
                <img src="~/img/markEmpAtt.png" style="display: block; height: 150px; width: 150px; margin: auto auto auto auto" />
            </div>
        </a>

</div>

    <div class="row">

        <a href="@Url.Action("seeAttendance", "EmployeeAttendance")">
            <div class="column" style="background-color:#8395a7; text-align: center">
                <h3 style="margin-left: auto">Search Attendance</h3><br />
                <img src="~/img/searchAtt.png" style="display: block; height: 150px; width: 150px; margin: auto auto auto auto" />
            </div>
        </a>

        <a href="@Url.Action("Index", "EmployeeAttendance")">
            <div class="column" style="background-color:#8395a7; text-align: center">
                <h3 style="margin-left: auto">View today's Attendance</h3><br />
                <img src="~/img/viewAtt.png" style="display: block; height: 150px; width: 150px; margin: auto auto auto auto" />
            </div>
        </a>

        <div class="column" style="background-color:#8395a7; text-align: center">

        </div>

    </div>
