@model StudentApp.Models.user
@{
    ViewBag.Title = "loginUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(ViewBag.ErrorMessage)
<br /><br />
<div style="text-align:center">
    <h2>Login</h2>
</div>

<style>
    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #007bff;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

   
</style>





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form">
            <form class="login-form">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.UserName_, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    

                        <b>User Name</b>
                    
                        @Html.TextBoxFor(model => model.UserName_, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName_, "", new { @class = "text-danger" })
                    
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Password_, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    

                        <b>Password</b>
                    
                        @Html.PasswordFor(model => model.Password_, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password_, "", new { @class = "text-danger" })
                    
                </div>

                <div class="form-group">
                    <button class="btn btn-primary">login</button>
                        @*<input type="submit" value="Login" class="btn btn-default" />*@
                    
                </div>
                <p class="message">Not registered? <a href="../Home/Register">Create an account</a></p>
                <a href="../Home/Index"><p>Back</p></a>
            </form>
        </div>
    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>




