@model IEnumerable<StudentApp.Models.notify>

@{
    ViewBag.Title = "StuNotifyView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StuNotifyView</h2>

<style>
    .unlist {
    
    }
</style>

@*<table class="table">
    <tr>
        <th>
            
            @Html.DisplayNameFor(model => model.title)
              
        </th>
        <th>
            
                @Html.DisplayNameFor(model => model.descript)
               
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>  
            
            @Html.DisplayFor(modelItem => item.title)
                
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descript)
        </td>
        
    </tr>
}

</table>*@

<ul class="unlist">

    @foreach (var item in Model)
    {
        
            <li>

                <h3>@Html.DisplayFor(modelItem => item.title)</h3>

            </li>
            <li>
                <p>@Html.DisplayFor(modelItem => item.descript)</p>
            </li>

        
    }

</ul>


