@model StudentApp.Models.Student
@{
    ViewBag.Title = "StudentProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Raw(TempData["LoginSuccessmessage"])


<div style="text-align:right">
    <h3>Welcome @Session["Username"]</h3>

    <h4>@Html.ActionLink("Logout", "Logout", "StudentProfile")</h4>
</div>
<hr />


<div>
    <h2>Search your Marks here</h2>
    @Html.ActionLink("Search here", "../Marks/Search")
</div>

<div style="text-align:right">
    <h2>Search Notifications here</h2>
    @Html.ActionLink("Search here", "../Notification/StuNotifyView")
</div>

<div>
    <h2>Search your Marks here</h2>
    @Html.ActionLink("Search here", "../Marks/Search")
</div>

<div>
    <h2>Search your Marks here</h2>
    @Html.ActionLink("Search here", "../Marks/Search")
</div>
